<h3>Haz tus operaciones</h3>
<br>
<br>
<input type="number" placeholder="valor 1" min="1" [(ngModel)]="valorPadre1">
<br>
<input type="number" placeholder="valor 2" min="1" [(ngModel)]="valorPadre2">
<br>
<!-- <h3 *ngIf="resultado">  Resultado: {{resultado}}</h3> -->
<h3>Resultado: {{resultado}}</h3>
<br>
<app-sumar [valorHijo1]='valorPadre1' [valorHijo2]='valorPadre2' (resultEvent)='obtenerResultado($event)'></app-sumar>
<app-restar [valorHijo1]='valorPadre1' [valorHijo2]='valorPadre2' (resultEvent)='obtenerResultado($event)'></app-restar>
<app-multiplicar [valorHijo1]='valorPadre1' [valorHijo2]='valorPadre2' (resultEvent)='obtenerResultado($event)'></app-multiplicar>
<app-dividir [valorHijo1]='valorPadre1' [valorHijo2]='valorPadre2' (resultEvent)='obtenerResultado($event)'></app-dividir>